/*=============  Google fonts  =========*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/*=============  Variables CSS  =========*/

:root{
  /*========== Colors =========*/

   /*========== Color mode HSL(hue, saturation,lightness)=========*/

   --first-color: hsl(353, 100%, 65%);
   --title-color: hsl(244, 24%, 26%);
   --text-color: hsl(244, 16%, 43%);
   --boby-color: hsl(258, 160%, 98%);
   --container-color: #fff;
   

  }